@font-face {
  font-display: swap;
  font-family: "Roboto 300";
  font-weight: "300";
  src: url("assets/fonts/roboto-v32-latin-300.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Regular";
  font-weight: "400";
  src: url("assets/fonts/roboto-v32-latin-regular.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Italic";
  font-weight: "400";
  src: url("assets/fonts/roboto-v32-latin-italic.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto 500";
  font-weight: "500";
  src: url("assets/fonts/roboto-v32-latin-500.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto 500 Italic";
  font-weight: "500";
  src: url("assets/fonts/roboto-v32-latin-500italic.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto 700";
  font-weight: "700";
  src: url("assets/fonts/roboto-v32-latin-700.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto 900";
  font-weight: "900";
  src: url("assets/fonts/roboto-v32-latin-900.woff2");
}

body {
  margin: 0;
  font-family: "Roboto Regular", "Arial";
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1em;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}



