@font-face {
  font-display: swap;
  font-family: "Roboto 300";
  font-weight: "300";
  src: url("assets/fonts/roboto-v32-latin-300.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Regular";
  font-weight: "400";
  src: url("assets/fonts/roboto-v32-latin-regular.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Italic";
  font-weight: "400";
  src: url("assets/fonts/roboto-v32-latin-italic.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto 500";
  font-weight: "500";
  src: url("assets/fonts/roboto-v32-latin-500.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto 500 Italic";
  font-weight: "500";
  src: url("assets/fonts/roboto-v32-latin-500italic.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto 700";
  font-weight: "700";
  src: url("assets/fonts/roboto-v32-latin-700.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto 900";
  font-weight: "900";
  src: url("assets/fonts/roboto-v32-latin-900.woff2");
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Regular";
}

.header-container {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
  color: white;
}

.header-section-one {
  display: flex;
}

.section-one-left {
  flex: 1;
}

.header-logo {
  font-family: "Roboto 500";
  text-align: center;
}

.section-one-right {
  display: flex;
  flex: 1;
}

.section-one-right ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 1.5em;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}