@font-face {
  font-display: swap;
  font-family: "Roboto 300";
  font-weight: "300";
  src: url("assets/fonts/roboto-v32-latin-300.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Regular";
  font-weight: "400";
  src: url("assets/fonts/roboto-v32-latin-regular.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Italic";
  font-weight: "400";
  src: url("assets/fonts/roboto-v32-latin-italic.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto 500";
  font-weight: "500";
  src: url("assets/fonts/roboto-v32-latin-500.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto 500 Italic";
  font-weight: "500";
  src: url("assets/fonts/roboto-v32-latin-500italic.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto 700";
  font-weight: "700";
  src: url("assets/fonts/roboto-v32-latin-700.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto 900";
  font-weight: "900";
  src: url("assets/fonts/roboto-v32-latin-900.woff2");
}

body {
  margin: 0;
  font-family: "Roboto Regular", "Arial";
  display: flex;
  flex-direction: column;
}

p, h1, h2 {
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1em;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}
.header-container {
  display: flex;
  flex-direction: column;
  background-color: #1F2037;
  gap: 4em;
  padding-bottom: 5em;
}

.header-section-one {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-top: .8em;
}

.logo {
  font-size: 1.2em;
  font-family: "Roboto 500", "Arial";
  color: white;
}

.header-section-two {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.main-content {
  flex: 1;
}

.main-content h1 {
  font-family: "Roboto 900", "Arial";
  color: #F9FAF8;
  font-size: 2rem;
  line-height: 0.9375;
  margin-bottom: .1em;
}

.main-content p {
  color: #e5e7eb;
  margin-bottom: .4em;
}

.main-content button {
  color: #F9FAF8;
  background-color: #3882F6;
  border: none;
  padding: .3em 1em;
  border-radius: 3px;
}

.image-container {
  flex: 1;
  height: 150px;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}



